Source: ubuntu-asahi
Section: metapackages
Priority: optional
Maintainer: Tobias Heider <me@tobhe.de>
Build-Depends: debhelper-compat (= 12)
Standards-Version: 3.9.2
Rules-Requires-Root: no

Package: ubuntu-asahi
Architecture: arm64
Depends:
	alsa-ucm-conf-asahi,
	asahi-configs,
	asahi-scripts,
	linux-apple-arm,
	m1n1,
	u-boot-asahi,
	grub-efi-arm64
Multi-Arch: foreign
Description: Packages for Apple Silicon
 This package depends on all of the packages required to run Ubuntu
 on Apple Silicon hardware.
